Package: com.ps.letmeblock
Name: LetMeBlock
Depends: mobilesubstrate, firmware (>= 9.0)
Version: 0.0.1
Architecture: iphoneos-arm
Description: Make mDNSResponder care more about /etc/hosts
Maintainer: PoomSmart
Author: PoomSmart
Section: Tweaks
Depiction: https://poomsmart.github.io/repo/letmeblock/index.html
