Package: com.ps.letmeblock
Name: LetMeBlock
Depends: mobilesubstrate, firmware (>= 12.0)
Architecture: iphoneos-arm
Description: Make mDNSResponder care about /etc/hosts
Maintainer: PoomSmart
Author: PoomSmart
Section: Tweaks
Version: 0.0.1
Installed-Size: 72
