Package: com.ps.letmeblock
Name: LetMeBlock
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 9.0)
Version: 1.0.0
Architecture: iphoneos-arm
Description: Make mDNSResponder care more about /etc/hosts
Maintainer: PoomSmart
Author: PoomSmart
Section: Tweaks
Depiction: https://poomsmart.github.io/repo/depictions/letmeblock.html
SileoDepiction: https://poomsmart.github.io/repo/sileodepictions/letmeblock.json
